#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

#out {
  color: aquamarine;
  & #in {
    color: #bb9213;
  }
}

#loading {
  width: 50px;
  height: 50px;
  color: aqua;
}
